<div class="footer">
    <section id="second">
        <h2>ABOUT</h2>
        <ul>
            <li>
                <a href="/">
                    Agent
                </a>
            </li>
            <li>
                <a href="/">
                    Lic Tax Saving Plan
                </a>
            </li>
            <li>
                <a href="/">
                    Buy a Policy
                </a>
            </li>
        </ul>
    </section>
    <section>
        <h2>CONTACT US</h2>
        <ul>
            <li>
                <span>
                    <i class="fa fa-home" class="contact" style="color: white;"></i> LIC AGENT's Address:-
                </span>
                <span>
                    House no.329, Gali no:-3,
                    Guru Ram Das Nagar,<br> Laxmi Nagar
                    Delhi-110092
                </span>
            </li>
            <li>
                <span><i class="fa fa-phone" class="contact" style="color: white;"></i> +919968255026</span>
            </li>
            <li>
                <span><i class="fa fa-google" class="contact" style="color: white;"></i> Bishansnegi@gmail.com</span>
            </li>
        </ul>
    </section>
    <section>
        <h2>LIC NEW PLANS</h2>
        <ul>
            <li><a href="/">
                    Endownment Plans
                </a>
            </li>
            <li>
                <a href="/">
                    Money Back Plans
                </a>
            </li>
            <li>
                <a href="/">
                    Child Plans
                </a>
            </li>
            <li>
                <a href="/">
                    Term Plans
                </a>
            </li>
            <li>
                <a href="/">
                    Pensions Plans
                </a>
            </li>
            <li>
                <a href="/">
                    Single Preium Plans
                </a>
            </li>
            <li>
                <a href="/">
                    Unit Linked Plans
                </a>
            </li>
            <li>
                <a href="/">
                    Health plans
                </a>
            </li>
        </ul>
    </section>
</div>