<div id="heading">
    <section>
        <a href="/"><img src="/lic.png" id="lic"></a>
    </section>
    <section class="info">
        <div>
            <p class="contact"><i class="fa fa-phone" class="contact" style="color: #999999;"></i> Call</p>
            <p class="contact">+919968255026</p>
        </div>
        <div>
            <p class="contact"><i class="fa fa-google" class="contact" style="color: red;"></i> Email</p>
            <p class="contact">Bishansnegi@gmail.com</p>
        </div>
        <div>
            <p class="contact"><i class="fa fa-whatsapp" class="contact" style="color: #00ff40;"></i> Whatsapp</p>
                <p class="contact"> +919953195758</p>
        </div>
    </section>
</div>
<div>
<marquee>Message us <strong>"Policy"</strong> on <strong>"7982170123"</strong> and we will call you.</marquee>
</div>