<!Doctype HTML>

<head>
    <title>
        LIC~Bishan Singh Negi
    </title>
    <link rel="stylesheet" href="../stuff/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>

<body>
    <%- include('header') %>
    <div id="bar">
        <img src="/banner2.jpg" id="firstp" />
        <img src="/banner3.jpg" id="secondp" class="banner" />
        <img src="/banner4.jpg" id="thirdp" class="banner" />
        <img src="/banner5.jpg" id="fourthp" class="banner" />
    </div>
        <div id="form">
            <h2 style="padding-top: 20px;">WRITE TO US</h2>
            <form method="POST">
                <input type="text" placeholder="First Name" name="name">
                <br>
                <input type="email" placeholder="Email Address" name="email">
                <br>
                <input type="text" placeholder="Mobile NUmber" name="mobile">
                <br>
                <input type="city" placeholder="City" name="city">
                <br>
                <input type="text" maxlength="400" placeholder="message" name="message">
                <br>
                <button type="submit" style="background: #ff8000; height:35px;" name="submit"
                    value="submit">Submit</button>
            </form>
    </div>
    <h2 style="margin-left: 40%; margin-top:40px;">LIC PLANS</h2>
    <div id="policy">
        <div id="first">
            <div class="policies">
                <div class="image">
                    <img src="/endowment.png" />
                </div>
                <div class="names">
                    <h2><b>ENDOWMENT PLANS</b></h2>
                    <ul>
                        <li>
                            <a href="/policydetails/name=JEEVAN LABH PLAN">
                                JEEVAN LABH PLAN
                            </a>
                        </li>
                        <li>
                            <a href="/policydetails/name=JEEVAN LAKSHYA PLAN">
                                JEEVAN LAKSHYA PLAN
                            </a>
                        </li>
                        <li>
                            <a href="/policydetails/name=JEEVAN PRAGATI PLAN">
                                JEEVAN PRAGATI PLAN
                            </a>
                        </li>
                        <li>
                            <a href="/policydetails/name=JEEVAN RAKSHAK PLAN">
                                JEEVAN RAKSHAK PLAN
                            </a>
                        </li>
                        <li>
                            <a href="/policydetails/name=LIMITED PREMIUM ENDOWMENT PLAN">
                                LIMITED PREMIUM ENDOWMENT PLAN
                            </a>
                        </li>
                        <li>
                            <a href="/policydetails/name=NEW ENDOWMENT PLAN">
                                NEW ENDOWMENT PLAN
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="policies">
                <div class="image">
                    <img src="/moneyback.png">
                </div>
                <div class="names">
                    <h2><b>MONEY BACK PLANS</b></h2>
                    <ul>
                        <li>
                            <a href="/policydetails/name=BIMA DIAMOND PLAN">
                                BIMA DIAMOND PLAN
                            </a>
                        </li>
                        <li>
                            <a href="/policydetails/name=NEW BIMA BACHAT PLAN">
                                NEW BIMA BACHAT PLAN
                            </a>
                        </li>
                        <li>
                            <a href="/policydetails/name=NEW MONEY BACK PLAN - 20 YEARS">
                                NEW MONEY BACK PLAN - 20 YEARS
                            </a>
                        </li>
                        <li>
                            <a href="/policydetails/name=NEW MONEY BACK PLAN - 25 YEARS">
                                NEW MONEY BACK PLAN - 25 YEARS
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="policies">
                <div class="image">
                    <img src="/child.png">
                </div>
                <div class="names">
                    <h2><b>CHILD PLANS</b></h2>
                    <ul>
                        <li>
                            <a href="/policydetails/name=JEEVAN TARUN PLAN">
                                JEEVAN TARUN PLAN
                            </a>
                        </li>
                        <li>
                            <a href="/policydetails/name=NEW CHILDREN'S MONEY BACK PLAN">
                                NEW CHILDREN'S MONEY BACK PLAN
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="policies">
                <div class="image">
                    <img src="/term.png">
                </div>
                <div class="names">
                    <h2><b>TERM PLAN</b></h2>
                    <ul>
                        <li>
                            <a href="/policydetails/name=AMULYA JEEVAN PLAN">
                                AMULYA JEEVAN PLAN
                            </a>
                        </li>
                        <li>
                            <a href="/policydetails/name=AMULYA JEEVAN II PLAN">
                                AMULYA JEEVAN II PLAN
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="policies">
                <div class="image">
                    <img src="/unit.png">
                </div>
                <div class="names">
                    <h2><b>PENSION PLANS</b></h2>
                    <ul>
                        <li>
                            <a href="/policydetails/name=JEEVAN AKSHAY VI PLAN">
                                JEEVAN AKSHAY VI PLAN
                            </a>
                        </li>
                        <li>
                            <a href="/policydetails/name=NEW JEEVAN NIDHI PLAN">
                                NEW JEEVAN NIDHI PLAN
                            </a>
                        </li>
                        <li>
                            <a href="/policydetails/name=JEEVAN UMANG PLAN">
                                JEEVAN UMANG PLAN
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="policies">
                <div class="image">
                    <img src="/single.png">
                </div>
                <div class="names">
                    <h2><b>SINGLE PREMIUM PLAN</b></h2>
                    <ul>
                        <li>
                            <a href="/policydetails/name=JEEVAN AKSHAY VI PLAN">
                                JEEVAN AKSHAY VI PLAN
                            </a>
                        </li>
                        <li>
                            <a href="/policydetails/name=NEW BIMA BACHAT PLAN">
                                NEW BIMA BACHAT PLAN
                            </a>
                        </li>
                        <li>
                            <a href="/policydetails/name=SINGLE PREMIUM ENDOWNMENT PLAN">
                                SINGLE PREMIUM ENDOWNMENT PLAN
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="policies">
                <div class="image">
                    <img src="/unit.png">
                </div>
                <div class="names">
                    <h2><b>UNIT LINKED PLAN</b></h2>
                    <ul>
                        <li>
                            <a href="/policydetails/name=NEW ENDOWMENT PLUS PLAN">
                                NEW ENDOWMENT PLUS PLAN
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="policies">
                <div class="image">
                    <img src="/health.png">
                </div>
                <div class="names">
                    <h2><b>HEALTH PLAN</b></h2>
                    <ul>
                        <li>
                            <a href="/policydetails/name=JEEVAN AROGYA PLAN">
                                JEEVAN AROGYA PLAN
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="policies">
                <div class="image">
                    <img src="/jeevan.png">
                </div>
                <div class="names">
                    <h2><b>JEEVAN SHIROMANI PLAN</b></h2>
                    <ul>
                        <li>
                            <a href="/policydetails/name=JEEVAN SHIROMANI PLAN">
                                JEEVAN SHIROMANI PLAN
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="side">
            <div class="enquiry" id="firste">
                <h2>Meet the Agent</h2>
                <p>Call us or Fix an appointment with us, We will Try our best to help you.</p>
            </div>
            <div class="enquiry" id="name">
                <h2>Know Your Agent</h2>
                <img src="/papa.jpeg">
                <p>Bishan Singh Negi is an LIC Agent that has an experience
                    of doing of 100+ policies in past 2 months.He Knows what is best for his
                    customers and try his best to uphold his motto of making
                    his customer's stree free from numerous problems
                    in their life, by having a policy in their hands.</p>
            </div>
            <div class="enquiry" id="check">
                <p> <strong>Still</strong> Unsure whether you need a <br>policy or not
                    check our<br> premium calculator to see <br>how less you need to pay <br>
                    over a period of time, <br>to get fortune of money.
                </p>
                <form>
                    <button type="submit" class="checke"><a href="/check">Check now</a></button>
                </form>
            </div>
        </div>
    </div>
    <%- include('footer') %>
    <script>
        var myIndex = 0;
        slider();

        function slider() {
            var i;
            var x = document.getElementsByClassName("banner");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(slider, 3000); // Change image every 2 seconds
        }
    </script>
</body>

</html>